:root {
    --main-color: #d1cdb7;
    --main-color-darken: #B4AF9A;
    --main-color-darker: #4E4B42;
    --main-color-lighter: #C5C1A7
}

@font-face {
    font-family: "Rodin";
    src: local("Rodin"), url("/assets/fonts/Rodin-Regular.ttf");
}

* {
    font-family: "Rodin", Arial;
}

#grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 3;

    background-image:
      repeating-linear-gradient(rgba(0,0,0,.04) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgba(0,0,0,.04) 0 1px, transparent 1px 100%);
    
    background-size: 5.5px 5.5px;
}


body {
    /*
    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        #f2f2f2;
    background-size: 4px 4px;
    */
    background-color: var(--main-color);
    height: 100vh;
    overflow-y: hidden;
}

nav {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2.5px solid var(--main-color-darker);
}

#selectable-container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.secion-selectables-container {
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.selectables-lines {
    display: flex;
    align-items: center;
    gap: 6px;
}

.selectables-lines .line {
    height: 100%;
    width: 10px;
}

.selectables-lines .line1 {
    height: 100%;
    width: 3px;
}

.lineSlide {
    animation: lineSlide 0.2s;
    animation-fill-mode: forwards;
    background-color: #aaa593;
}

@keyframes lineSlide {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

#selectable-container .selectable {
    height: 43px;
    width: 425px;
    font-weight: lighter;
    opacity: 0;
    transform: translateX(-100px);
}

#selectable-container .selectable.slide-in {
    animation: slide-in 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-container .selectable {
    width: 160px;
    height: 40px;
    text-transform: uppercase;
}

.selectable {
    background-color: var(--main-color-darken);
    color: var(--main-color-darker);
    position: relative; 
}

.selectable-active {
    color: var(--main-color);
}

@keyframes example {
    0% {transform: translateY(0px);}
    100% {transform: translateY(-5px);}
}

@keyframes example2 {
    0% {transform: translateY(0px);}
    100% {transform: translateY(5px);}
}

.selectable-active::before {
    transition: transform 0.1s;
    content: "";
    position: absolute;
    background-color: var(--main-color-darker);
    width: 100%;
    height: 2px;
    top: 0;
    left: 0%;
    animation-name: example;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; 
}

.selectable-active::after {
    transition: transform 0.1s;
    content: "";
    position: absolute;
    background-color: var(--main-color-darker);
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    animation-name: example2;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.dark-slider {
    position: absolute;
    transition: width 0.1s;
    top: 0%;
    width: 0%;
    background-color: var(--main-color-darker);
    height: 100%;
    z-index: 1;
}

.dark-slider-on {
    width: 100%;
}

.selectable-text {
    z-index: 2;
    position: absolute;
    margin: 0;
    bottom: 50%;
    transform: translateY(50%);
    margin-left: 6px;
    font-weight: normal;
}

.selectable-text-right {
    z-index: 2;
    position: absolute;
    margin: 0;
    bottom: 50%;
    transform: translateY(50%);
    margin-right: 6px;
    right: 0;
    font-weight: normal;
}

.selectable h2 {
    display: inline;
}

.selectable-icon {
    position: relative;
    top: 50%;
    background-color: var(--main-color-darker);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    margin-left: 5px;
    z-index: 2;
    transition: background-color 0.1s;
}

.selectable-icon-active {
    background-color: var(--main-color);
}

.main-section {
    height: 100%;
    padding: 35px;
    padding-top: 20px; 
}

#section-title {
    color: var(--main-color-darker);
    margin: 0;
    font-weight: normal;
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-shadow: #aaa593 5px 5px;
}

.divider {
    display: flex;
    height: 100%;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#bottom-section {
    position: relative;
    margin-bottom: 120px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--main-color-lighter);
    border-left: var(--main-color-darker) 10px solid;
    box-shadow: 3px 3.5px #7B776A;
    display: flex;
    align-items: center;
    height: 79px;
    width: 96%;
    transform: translateY(30px);
}

.slide-up {
    animation: bottom-slide-up 0.4s;
    animation-fill-mode: forwards;
}

@keyframes bottom-slide-up {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    
    to {
      transform: translateY(0px);
      opacity: 1;
    }
}

#bottom-section::before {
    position: absolute;
    content: "";
    width: 3px;
    background-color: var(--main-color-darker);
    height: 100%;
    left: 5px;
}

#bottom-section::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--main-color-darker);
    right: 5px;
    bottom: 5px;
}

#bottom-section p {
    margin-left: 25px;
    font-size: 1.3em;
}

.bottom-section-right {
    display: flex;
    margin-left: auto;
    margin-right: 35px;
}

.stat-table {
    background-color: var(--main-color-lighter);
    box-sizing: border-box;
    width: 470px;
    height: 500px;
    margin-left: auto;
}

.stat-header {
    background-color: var(--main-color-darker);
    padding-left: 14px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: var(--main-color);
    font-weight: lighter;
    font-size: 1.3em;
}

.stat-fields {
    padding-left: 14px;
    padding-right: 14px;
}

.stat-field {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: lighter;
    color: var(--main-color-darker);
    margin-top: 10px;
}

.stat-section {
    border-bottom: #ADA78F solid 2px;
    margin-top: 10px;
    padding-bottom: 9px;
}

.square-container {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.square {
    width: 18px;
    height: 18px;
    border: #ADA78F solid 2px;
}

.stat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.error {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color-darker);
    font-size: 1.1em;
}


.hidden {
    opacity: 0;
}